In [1]:
#Contoh Algorithms

In [2]:
import numpy as np

In [4]:
#membuat array
df = np.array([1,2,3])
df

array([1, 2, 3])

In [6]:
df = np.array([1,2,3])
df.dtype

dtype('int64')

In [10]:
#multidemensional array
arrku = np.array([[1,2,3,4,5], [2,4,6,8.10]])
arrku

<ipython-input-10-84c910833376>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arrku = np.array([[1,2,3,4,5], [2,4,6,8.10]])

array([list([1, 2, 3, 4, 5]), list([2, 4, 6, 8.1])], dtype=object)

In [12]:
#operasi aritmatika
arr_A = np.array([1,2,3,4,5])
arr_B = np.array([2,2,2,2,2])

print("Penjumlahan =", arr_A + arr_B)
print("Pengurangan =", arr_A - arr_B)
print("Penrkalian =", arr_A * arr_B)
print("Pembagian =", arr_A / arr_B)
print("Perpangktan =", arr_A ** arr_B)

Penjumlahan = [3 4 5 6 7]
Pengurangan = [-1  0  1  2  3]
Penrkalian = [ 2  4  6  8 10]
Pembagian = [0.5 1.  1.5 2.  2.5]
Perpangktan = [ 1  4  9 16 25]